html {
	height: 100%;
	font-size: 100%;
}

body {
	font-family: 'Open Sans';
	min-height: 100%;
}

.container {
	margin-top: 3rem;
}

.tasks-current {
	width: 30rem;
	margin: 0 auto;
	list-style: none;
	background-color: #eee;
	border-collapse: collapse;
}

	.tasks-current th {
		font-size: 1.5rem;
		padding: .8rem;
		background-color: #ccc;
	}

	.tasks-current td {
		padding: .4rem .8rem;
		border-top: 2px solid #ccc;
	}
